[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
jupyter = "*"

[packages]
astropy = "*"
neupy = "*"
matplotlib = "*"
scipy = "*"
opencv-python = "*"
numpy = "*"
requests = "*"
pydl = "*"
astroquery = "*"
mahotas = "*"
importlib-metadata = "==1.7.0"
jupyter = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
